/*---------- FONTS ----------*/

@font-face {
    font-family: 'IBM Logo';
    src: url('/media/font/IBM-Logo.ttf');
}

@font-face {
    font-family: 'Sixtyfour';
    src:url('/media/font/Sixtyfour-Regular.ttf')
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/media/font/IBMPlexMono-Bold.ttf');
}

/*---------- GENERAL ----------*/

html,
body {
    overflow: hidden;
}

body {
    position: relative;
    background-color: #1E1E1E;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.image-container img {
    width: 100%;
    height: 100%;
    opacity: 20%;
}

/*---------- PRINCIPAL ----------*/

h1 {
    font-family: 'Sixtyfour';
    font-weight: lighter;
    font-size: 55px;
    color: #9EC1E7;
}

#general {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: auto;
}

#principal {
    display: flex;
    width: auto;
}

#title {
    display: flex;
    width: 800px;
}

#flags {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}

#flags img {
    width: 50px;
    margin: 5px;
}

/*---------- SOBRE MI ----------*/

#about {
    display: flex;
    font-family: 'IBM Plex Mono';
}

#info {
    border-radius: 8px;
    padding: 20px;
    max-width: 550px;
}

.info-block {
    display: flex;
    justify-content: flex-start;
}

.label {
    font-weight: bold;
    color: #8EACA9;
}

.value {
    color: #9EC1E7;
    text-align: left;
}

.about-info {
    color: #9EC1E7;
}

#icon {
    width: 50px;
}

/*---------- PROYECTOS ----------*/

#space {
    width: 50px;
}

#proyecto1 {
    display: inline;
    width: 500px;
}

#folder {
    width: 200px;
}

#proyectos > p {
    text-align: center;
}